:root
{
    --font-family-word-font: 'Raleway Regular', sans-serif;

    --font-family-word-mono-font: 'Raleway Regular', sans-serif;

    --font-family-paragraph-font: 'Raleway Light', sans-serif;
}
