:root
{
    --font-family-word-font: 'Ubuntu Regular', sans-serif;

    --font-family-word-mono-font: 'Ubuntu Mono Regular', sans-serif;

    --font-family-paragraph-font: 'Work Sans Regular', sans-serif;
}
