.password-toggle__icon--type-on
{
    display: none;
}
.password-toggle.active .password-toggle__icon--type-on
{
    display: block;
}
.password-toggle.active .password-toggle__icon--type-off
{
    display: none;
}
