:root
{
    --font-size-xxsmm: 11px;

    --font-size-xxsm: 12px;

    --font-size-xsmm: 13px;

    --font-size-xsm: 14px;

    --font-size-sm: 16px;

    --font-size-m: 18px;

    --font-size-lg: 20px;

    --font-size-xlg: 22px;

    --font-size-xxlg: 24px;

    --font-size-26: 26px;

    --font-size-28: 28px;
}
